/*=====POPPINS=====*/

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

/*=====READEXPRO=====*/

@font-face {
  font-family: 'ReadexPro';
  src: url('../../fonts/ReadexPro-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../../fonts/ReadexPro-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url('../../fonts/ReadexPro-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}