// text
$primary-text-color: #808080;
$secondary-text-color: #333333;
$black-text-color: #000000;
$white-text-color: #ffffff;
// background
$primary-color-theme: #ffffff;
$gradient-start: #ff6800;
$gradient-end: #ff1f00;
// another
$accent: #E75624;
$via-magenta: #ff0090;